.navbar {
  align-items: center !important;
  justify-content: center !important;
  padding-left: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.navbar-item{
  color: rgb(80, 79, 79) !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.container-logo{
  margin-right: -15px;
}

.logo {
  width: 55px;
  grid-column: 1;
  padding: 2px;
  z-index:9;
  top: 8px;
  position: relative;
}

.menu-small .logo{
  top: 5px;
}

.right-menu {
  text-align: right;
  padding-top:10px;
}

.right-menu span {
  margin-top: 100px !important;
  margin: 15px !important;
}

.right-menu span{
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.input-search {
  width: 370px !important;
  height: 40px !important;
  background: rgb(243, 242, 242)!important;
  border: 1px solid #d8d8d8 !important;
  outline: none !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  padding-left: 20px !important;
  margin-top: 4px;
  margin-left: -15px;
}

.input-search:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #b4b4b4 !important;
}

.input-search::-webkit-input-placeholder { /* Edge */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 0.9em !important;
}

.welcome-user{
  color: #60a8f1;
}

.signin{
  cursor: pointer !important;
}

.nav-fixed{
  z-index: 999 !important;
  position: fixed !important;
  width: 100% !important;
}

.back-nav{
  padding-bottom: 65px;
}

.localization{
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  margin-bottom: 5px;
  margin-top: -5px;
}

.newaddress{
  background: #fff;
  z-index: 999;
  position:fixed;
  width: 340px;
  margin-top: -10px;
  border-top: none !important;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
}

.input-small{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 13px !important;
}


.box-places{
  font-size: 11px;
  height: 100px !important;
  overflow-x: hidden;
  border: 1px solid rgb(199, 199, 199);
  margin-top: -10px;
}

.list-places{
  padding: 3px;
  cursor: pointer;
}

.buttonsaddress{
  margin-top: 4px;
  margin-left: -30px;
}

.icon-search-bt{
  color: #fff;
}

.navbar-item-2{
  padding: 10px 20px !important;
}

.title-font{
  margin-left: -9px;
}

.menu-icons-active{
  color: #FFD237;
  font-size: 32px;
}

.menu-icons{ 
  font-size: 32px;
  color: rgb(143, 143, 143);
}

.box-icons-mobile-cs{
  margin-top: 20px !important;
}

.text-box-cs-notify{
  margin-top: 4px;
}

.box-icons-mobile-cs-user{
  margin-top: -5px !important;
}

.text-boxe-cs-user{
  margin-top: -13px;
}

.text-box{

}

.navbar-start{
  justify-content: flex-start !important;
  margin-left: auto !important;
}

.navbar-end-rent{
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.menu-small img{
  width: 45px !important;
}

.menu-small .input-search {
  height: 30px !important;
  margin-top: -1px;
}

.menu-small .buttonsaddress{
  margin-top: -10px;
  padding: 0px 10px !important;
  margin-top: -1px;
  height: 30px !important;
}

.buttonsaddress:hover{
  color: #fff !important;
}

@media (max-width: 900px) {
  .navbar-menu.is-active{
    display: inline !important;
  }
  
  .buttonsaddress{
    float: right !important;
    margin-top: -10px;
    padding: 0px 10px !important;
    margin-top: -1px;
    height: 30px !important;
  }

  .navbar{
    height: 25px !important;
  }
  
  .navbar-brand{
    margin-top: -1px !important;
  }

  .navbar-menu {
    align-items: center !important;
    justify-content: center !important;
    padding-left: 10px;
    padding-bottom: 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: none !important;
    background: #fff !important;
  }

  .input-search {
    margin-top: 0px;
    width: 100% !important;
    border-radius: 100px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left:20px !important;
    height: 30px !important;
    margin-left: 0px;
  }

  .input-right-mobile{
    float: right !important;
    margin-right: 0px;
  }

  .navbar-burger{
    display: none !important;
  }  

  .nav {
    display: block;
    grid-template-columns: none;
  }
  
  .navbar-end-rent{
    background: #fff;
    height: 60px;
    bottom: -2px;
    padding-top: 10px;
    left: 0px;
    width: 100% !important;
    z-index: 9999;
    position: fixed;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    border: 1px solid rgb(221, 221, 221);
  }

  .navbar-item{
    padding: 5px 0px !important;
  }

  .box-icons-mobile{
    margin-top: 0px;
    text-align: center !important;
    width: 90px !important;
  }

  .text-box{
    height: 20px;
    margin-top: 1px;
    line-height: 0.9 !important;
    font-size: 0.6em;
    text-align: center !important;
  }

  .text-box-cs{
    margin-top: 0px !important;
  }
  
  .nav-fixed{
    padding-top: -3px;
    padding-bottom: 0px !important;
    border-bottom: 1px solid rgb(155, 155, 155) !important;
  }

  .logo {
    width: 45px;
    grid-column: 1;
    padding: 2px;
    margin-top: 2px;
    z-index:9;
    top: 4px;
    position: relative;
  }

  .newaddress{
    background: #fff;
    z-index: 999;
    position:fixed;
    width: 100%;
    left: 0;
    margin-top: 0px;
    border-top: none !important;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
    padding: 10px;
    margin-top: 22px;
  }

  .navbar {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
  }

  .input-search::-webkit-input-placeholder { /* Edge */
    font-size: 0.8em !important;
  }

  .localization{
    border-bottom: 1px solid rgb(221, 221, 221) !important;
    margin-left:0px;
    float: right !important;
    margin-right: 10px;
    display: none !important;
  }

  .logouser-menu{
    width: 40px;
    margin-bottom: -5px;
  }

  .title-font{
    margin-left: 2px;
    margin-top: -20px;
    font-size: 9px;
  }

  .title-font2{
    margin-left: -2px;
  }

  .title-font-cs{
    margin-top: -30px !important;
    margin-left: 2px;
  }

  .title-font-cs-user{
    margin-top: -10px !important;
    margin-left: 7px;
  }

  .box-icons-mobile-cs{
    margin-top: 20px;    
  }

  .dropdown-user-mobile{
  }

  .dropdown-user{
    width: 100% !important;
    margin-top: -420px !important;
  }

  .menu-icons{ 
    font-size: 32px;
    color: rgb(143, 143, 143);
  }

  .box-icons-mobile-cs-user{
    margin-top: 20px !important;
  }  

  .text-box-cs-notify{
    margin-left: 10px !important;
  }
}