.navbar {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 60px;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 10px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(168,168,168,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(168,168,168,1);
  box-shadow: 0px 0px 1px 0px rgba(168,168,168,1);
  border-bottom: 1px solid rgb(218, 218, 218);
}

.navbar-item{
  color: rgb(80, 79, 79) !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.container-logo{
  margin-right: -15px;
}

.logo {
  width: 65px;
  grid-column: 1;
  padding: 2px;
  z-index:9;
  top: 4px;
  position: relative;
}

.right-menu {
  text-align: right;
  padding-top:10px;
}

.right-menu span {
  margin-top: 100px !important;
  margin: 15px !important;
}

.right-menu span{
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.input-search {
  width: 370px !important;
  height: 40px !important;
  border: 2px solid #d8d8d8 !important;
  outline: none !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  padding-left: 20px !important;
  margin-top: 17px;
  margin-left: -15px;
}

.input-search:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #b4b4b4 !important;
}

.input-search::-webkit-input-placeholder { /* Edge */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 0.9em !important;
}

.welcome-user{
  color: #60a8f1;
}

.signin{
  cursor: pointer !important;
}

.nav-fixed{
  z-index: 999 !important;
  position: fixed !important;
  width: 100% !important;
}

.back-nav{
  padding-bottom: 85px;
}

.localization{
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  margin-bottom: 5px;
  margin-top: -5px;
}

.newaddress{
  background: #fff;
  z-index: 999;
  position:fixed;
  width: 400px;
  margin-top: 0px;
  border-top: none !important;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
}

.input-small{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 13px !important;
}


.box-places{
  font-size: 12px;
  height: 100px !important;
  overflow-x: hidden;
  border: 1px solid rgb(199, 199, 199);
  margin-top: -10px;
}

.list-places{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 900px) {
  .input-search {
    width: 100% !important;
    border: 2px solid rgb(146, 146, 146) !important;
    border-radius: 100px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left:20px !important;
    height: 40px !important;
  }

  .navbar-burger{
    display: none !important;
  }  

  .nav {
    display: block;
    grid-template-columns: none;
  }
  
  .navbar-end{
    background:#fff;
    border: 1px solid red;
    bottom: 0px;
    padding: 0px !important;
    left: 0px;
    width: 100% !important;
    z-index: 9999;
    position: fixed;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .navbar-item{
    padding: 6px 30px !important;
  } 

  .nav-fixed{
    padding-top: 15px;
    padding-bottom: 18px !important;
    border-bottom: 1px solid rgb(155, 155, 155) !important;
  }

  .logo {
    width: 60px;
    grid-column: 1;
    padding: 2px;
    margin-top: 2px;
    z-index:9;
    top: 4px;
    position: relative;
  }

  .newaddress{
    background: #fff;
    z-index: 999;
    position:fixed;
    width: 100%;
    left: 0;
    margin-top: 0px;
    border-top: none !important;
  border-bottom: 1px solid rgb(160, 160, 160);
    padding: 10px;
    margin-top: -2px;
  }

  .navbar {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  .input-search::-webkit-input-placeholder { /* Edge */
    font-size: 0.8em !important;
  }

  .localization{
    border: 1px solid rgb(87, 87, 87) !important;
    margin-left:0px;
  }

  .logouser-menu{
    width: 40px;
  }
}