.box-photos .column{
  padding: 0 !important;
  height:200px;
  margin:10px;
  margin-bottom: 40px;
}

.box-photos .column img{
  width:90%;
  height:200px;
  object-fit:cover;
  border-radius: 5px !important;

}

.box-photos .column img:hover{
  width:90%;
  height:200px;
  object-fit:cover;
  border-radius: 5px !important;
}

.title-tool{
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}

.title-tool-only{
  font-size: 35px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}

.logo-neighbor img{
  width: 55px !important;
  height: 55px !important;
  border-radius: 100%;
  text-align: left !important;
  object-fit:cover !important;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
}

.head-infos-tool{
  padding-top: 10px !important;
}

.name-neighbor{
  margin-left: 15px;
  z-index: 9;
  position: relative;
  top: -20px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.rental-box{
  border: 1px solid rgb(219, 219, 219);
  padding: 13px;
  background: #fff !important;
}

.title-infos-tool{
  font-family: 'Open Sans', sans-serif;
  color: #60A8F1;
  font-weight: 600;
  margin: 20px 0px;
}

.text-simple-info-tool{
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 400;
  white-space: pre-line !important;
}

.brands-tools{
  width: 280px;
}


.box-price-rent{
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 160px;
  color: rgb(37, 37, 37) !important;
  font-size: 14px !important;
}

.price-rent{
  font-size: 20px !important;
  color: rgb(37, 37, 37) !important;
  font-weight: 700;
}

.message-rent{
  text-align: center !important;
}

.dt-range-picker-tool{
  background:transparent;
}

.DateInput_1{
  width: 46%;
}


.price-others{
  font-size: 14px !important;
  color: rgb(110, 110, 110) !important;
}

.price-others-legend{
  font-size: 12px !important;
  color: rgb(110, 110, 110) !important;
}

.button-p{
  cursor: pointer;
  color: rgb(0, 68, 255);
}

.title-politics{
  color: #000 !important;
  font-size: 14px !important;
}

.box-date-rules{
  background: #60A8F1;
  width: 70px !important;
  height: 70px !important;
  text-align: center !important;
  padding: 5px;
  color: #fff;
  font-size: 19px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.box-date-rules-small{
  background: #60A8F1;
  width:40px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 5px;
  color: #fff;
  font-size: 15px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.name-data-rules{
  padding: 21px 20px !important;
  height: 70px !important;
  width: 200px !important;
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  background: rgb(233, 233, 233);
  text-align: left !important;
}

.name-data-rules-small{
  padding: 10px 10px !important;
  height: 50px !important;
  width: 120px !important;
  font-size: 15px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  background: rgb(233, 233, 233);
  text-align: left !important;
}

.tension-rules{
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.title-tool-rules{
  font-size: 15px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 100; /* this is optional and should be different for every project */
}

.sticky-wrapper {
}

.sticky .sticky-inner {
  top: 100px;
}

.box-rent .rental-box{
   /*z-index: 999;
  position: fixed;
  right: 6% !important;*/
}

.sub-title{
  font-size: 20px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.orange{
  color: rgb(0, 132, 255) !important;
  margin-top: -35px;
  margin-bottom: -10px;
}


.no-padding-text{
  padding:0px 10px !important;
  margin-top: -16px;
  margin-bottom: -10px;
}

.pricefinal{
  color: #ff7518 !important;
  margin: 8px 0px;
}

.label-period{
  margin-top: 5px;
  margin-bottom: -10px !important;
}

.padding-left-name{
  padding-left: 20px !important;
}

.therent{
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(63, 63, 63);
}

.therent span{
  color: #6EB5F4;
  font-weight: bold;
  text-transform: uppercase;
}

.configlessor{
  color: #ff7518;
  font-weight: bold;
}

.periods-mistakes{
  font-size: 20px;
}

.teset{
  border:1px solid red !important;
}

.clqt{
  margin-top: 0px !important;
}

.mg-button-rt{
  margin-top: 0px;
}

.cost-cl{
  margin-top: -30px !important;
  background: red !important;
}

.no-top-total{
  margin-top: -50px !important;
}

.total-tools-values .column{
  margin-top: -5px !important;
}

.no-padding-tt{
  padding:0px 10px !important;
  margin-bottom: -20px;
}

.DateInput_input:focus{
  border-bottom: 3px solid rgb(0, 132, 255) !important;
}

.DateInput_input__focused{
  border-bottom: 3px solid rgb(0, 132, 255) !important;
}

.DateInput_input::placeholder{
  color: rgb(0, 0, 0) !important;
}

.DateInput_input{
  font-weight: 500 !important;
  background: #eeeeee !important;
}

.DateRangePickerInput{
  background: #eeeeee !important;
}

.hourmodalfor{
  font-size: 20px;
}

.notation-devolution{
  color: #ff7518;
}

.warning-dates-equals{
  color: #ff7518;
}

.DateRangePickerInput__withBorder{
  border: 1px solid rgb(70, 70, 70);
}

.border-black{
  border: 1px solid rgb(70, 70, 70) !important;
}

.hd-mobile-tool{
  display: none !important;
}

.hd-mobile{
  display: none !important;
}

.adddocument{
  margin-top:70px !important;
}

.DateInput_input::placeholder{
  color: #1959c0 !important;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins', sans-serif !important;
}

.warning-address{
  font-size: 18px;
  color: #1959c0 !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
  margin: 10px 0px;
}

.CalendarDay__blocked_calendar{

}

.valuedefaultpromo{
  text-decoration: line-through !important;
  color: red;
  font-size: 27px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  text-align: center;
}

.valuedefaultpromo-day{
  color: #1959c0;
  font-size: 27px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  text-align: center;
}


.discorcerttext{
  color: rgb(92, 92, 92);
  font-size: 21px;
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
}

.valuefinal{
  color: rgb(108, 228, 61);
  font-size: 33px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  text-align: center;
}

.title-disconcert{
  text-align: center !important;
  font-size: 27px;
  font-family: 'Poppins', sans-serif !important;
  color: #60A8F1;
}

.choosedevolut{
  margin-top: 9px;
}

.warning-devolut{
  margin-top: -15px !important;
}

.color-promotional{
  color: rgb(61, 228, 83);
  font-size: 20px;
}

.pricefds{
  font-size: 15px;
  margin-left: 22px;
  color: red;
  text-decoration: line-through;
  font-weight: bold;
  padding-top: 10px !important;
}

.optionals{
  font-size: 12px;
  font-family: 'Poppins', sans-serif !important;
  color: #60A8F1;
  margin-top: 10px;
  margin-bottom: -18px;
}

.adons{
  margin: 0px 0px !important;
}

.adons-box{
  margin-top: -20px !important;
  margin: 2px !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding:0px;
  cursor: pointer;
}

.ad-name{
  text-align: left;
  width: 70px;
  font-size: 11px;
}

.adons-box img{
  border-radius: 6px;
}

.adons-container{
  margin-top: -15px;
  margin-bottom: 25px;
}

.icon-checkadons{
  color: #68dd5a;
  font-size: 20px;
  z-index: 9 !important;
  position: absolute !important;
  margin-left: 51px;
  margin-top: -2px;
}

.labelchecked {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labelchecked::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #68dd5a;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  z-index: 999 !important;
  text-align: center;
  transition-duration: 0.4s;
  transform: scale(0);
}

.labelchecked img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  outline: none !important;
}

:checked+.labelchecked {
  border-color: #ddd;
}

:checked+.labelchecked::before {
  content: "✓";
  background-color: #68dd5a;
  transform: scale(1);
}

:checked+.labelchecked img {
  transform: scale(0.9);
  z-index: -1;
  outline: none !important;
}

.inputadons{
  z-index: -100;
  position: relative;
  top: 20px;
}

.adons-box img{
  width: 70px;
  height: 70px;
  border: 1px solid rgb(165, 165, 165);
}

.priceadon{
  font-size: 12px;
  text-align: center !important;
  margin-top: -23px !important;
  z-index: 999;
  position: relative;
}

.priceadon span{
  background: #ffd237;
  padding: 3px 2px;
  border-radius: 3px;
  font-weight: bold;
}

.totalBig{
  padding-top:-20px;
  font-size: 27px;
}

.renderline{
  border-bottom: 1px solid #cccccc;
}

.textmintotal{
  font-size: 17px;
}

@media (min-width: 321px) and (max-width: 900px) {
.textmintotal{
  font-size: 15px;
}

  .divwarning{
    margin-bottom: 50px !important;
  }

  .bt-suspend-tool{
   z-index: 99999 !important;
   position: fixed !important;
   bottom: 0px !important;
   left: 0px !important;
   height: 57px !important;
  }

  .mg-button-rt{
    margin-top: -16px;
  }

  .title-tool-only{
    margin-top: -20px;
  }

  .box-photos .column{
    padding: 0 !important;
    height: 100px !important;
    margin-top:10px !important;
    margin-bottom: 10px;
  }

  .bt-pr-t{
    margin-top: -30px;
  }

  .DateInput_input::placeholder{
    color: #1959c0 !important;
    font-weight: bold;
    font-family: 'Poppins', sans-serif !important;
  }

  .adddocument{
    margin-top:10px !important;
  }

  .page-full-date{
    background: #fff !important;
    z-index: 9999 !important;
    height: 100% !important;
    width: 100% !important;
    top: -25px !important;
    padding-top: 50px !important;
  }

  .page-full-date .pai{
    top: 100px !important;
  }

  .page-full-date .mg-button-rt{
    margin-top: 0px;
  }

  .page-full-date .rental-box{
    border: none !important;
  }

  .rental-box{
    padding-bottom: 30px;
  }

  .clqt{
    margin-top: -20px !important;
  }

  .brands-tools{
    width: 340px;
  }

  .name-data-rules{
    padding: 21px 20px !important;
    height: 100px !important;
    width: 150px !important;
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    background: rgb(233, 233, 233);
    text-align: left !important;
  }


  .box-photos .column{
    margin-top:-23px;
    background: #c8c8c8 !important;
    border-left: 1px solid rgb(160, 160, 160) !important;
    border-right: 1px solid rgb(160, 160, 160) !important;
    padding: 0 !important;
    height: 100px !important;
  }

  .box-photos .column img{
    width:100%;
    height:100px;
    object-fit:cover;
  }

  .box-photos .column img:hover{
    width:100%;
    height:70px;
    object-fit:cover;
  }

  .title-popup{
    font-size: 10px !important;
  }

  .container-bottom{
    padding: 0px !important;
  }

  .espec{
    display: none !important;
  }

  .div-button-rent{
    z-index: 999;
    position: fixed;
    bottom:5px;
    background: #fff;
    width: 100% !important;
  }



  .div-button-rent a{
    height: 57px !important;
    margin-bottom: -5px;
  }

  .title-rent{
    font-family: 'Poppins', sans-serif !important;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #60A8F1;
    font-size:19px;
    font-weight: 400;
  }

  .close-rent{
    cursor: pointer;
    float: left !important;
    margin-top: -20px;
    margin-left: 10px;
  }

  .page-dates{
    display: none !important;
  }

  .hd-mobile-tool{
    display: visible !important;
  }
}


@media (min-width: 0px) and (max-width: 320px) {
  .mg-button-rt{
    margin-top: -16px;
  }

  .title-tool-only{
    margin-top: -20px;
  }

  .box-photos .column{
    padding: 0 !important;
    height: 100px !important;
    margin-top:10px !important;
    margin-bottom: 10px;
  }

  .bt-pr-t{
    margin-top: -30px;
  }

  .DateInput_input::placeholder{
    color: #1959c0 !important;
    font-weight: bold;
    font-family: 'Poppins', sans-serif !important;
  }

  .adddocument{
    margin-top:10px !important;
  }

  .page-full-date{
    background: #fff !important;
    z-index: 9999 !important;
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    top: -0px !important;
    padding-top: 50px !important;
  }

  .page-full-date .pai{
    top: 100px !important;
  }

  .page-full-date .mg-button-rt{
    margin-top: 25px;
  }

  .page-full-date .rental-box{
    border: none !important;
  }

  .clqt{
    margin-top: -20px !important;
  }

  .brands-tools{
    width: 340px;
  }

  .name-data-rules{
    padding: 21px 20px !important;
    height: 100px !important;
    width: 150px !important;
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    background: rgb(233, 233, 233);
    text-align: left !important;
  }


  .box-photos .column{
    margin-top:-23px;
    background: #c8c8c8 !important;
    border-left: 1px solid rgb(160, 160, 160) !important;
    border-right: 1px solid rgb(160, 160, 160) !important;
    padding: 0 !important;
    height: 100px !important;
  }

  .box-photos .column img{
    width:100%;
    height:100px;
    object-fit:cover;
  }

  .box-photos .column img:hover{
    width:100%;
    height:70px;
    object-fit:cover;
  }

  .title-popup{
    font-size: 10px !important;
  }

  .container-bottom{
    padding: 0px !important;
  }

  .espec{
    display: none !important;
  }

  .div-button-rent{
    z-index: 999;
    position: fixed;
    bottom:5px;
    background: #fff;
    width: 100% !important;
  }

  .div-button-rent a{
    height: 57px !important;
    margin-bottom: -5px;
  }

  .title-rent{
    font-family: 'Poppins', sans-serif !important;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #60A8F1;
    font-size: 23px;
    font-weight: 400;
  }

  .close-rent{
    cursor: pointer;
    float: left !important;
    margin-top: -20px;
    margin-left: 10px;
  }

  .page-dates{
    display: none !important;
  }

  .hd-mobile-tool{
    display: visible !important;
  }

  .DateInput_input::placeholder{
    color: #1959c0 !important;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
  }

  .DateInput_1{
  }

  .tension-dvv{
    margin-top: -22px !important;
  }

  .title-rent{
    font-family: 'Poppins', sans-serif !important;
    margin-top: -10px !important;
    margin-bottom: 5px !important;
    color: #60A8F1;
    font-size: 13px !important;
    font-weight: 400;
  }

  .mg-button-rt{
    margin-top: -17px !important;
  }

  .tension-dv{

  }

}
