.workadd{

}

.red-text{
  color: red !important;
}

.offer{
  padding-left: 60px !important;
}

.search-address{
  color: #60a8f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

@media (max-width: 900px) {
  .offer{
    margin: 0 auto;
    width: 100%; /* Valor da Largura */
    padding-left: 0px !important;
  }
  
  .workadd{
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 40px 15px;
    margin-top: -95px;
  }
}
