.workadd{

}

.red-text{
  color: red !important;
}

@media (max-width: 900px) {
  .workadd{
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 40px 15px;
    margin-top: -95px;
  }
}
