.mwd-button {
  background-color: #60a8f1;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  padding: .5em 1em;
  cursor: pointer !important;
  border-radius: 3px;
}