.title-about-us{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important; 
  margin-bottom: -20px;
  color: #000 !important;
}

.cl-text p {
  text-align: left;
}

.bk-why{
  margin-top: 40px;
  color: #60a8f1;
  padding: 40px 20px; 
  font-family: 'Poppins', sans-serif !important; 
  margin-bottom: 50px;
  font-weight: bold;
}

.text-why-easytools{

  font-size: 35px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif !important; 
}

.easy-title-a{
  color: #fff !important;
}

.txt-why-easy-child{
  font-size: 24px;
  text-align: center;
  font-weight: bold !important;
  font-family: 'Poppins', sans-serif !important; 

}

.sub-title-about-us{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.how-work-it{
  margin-top: 60px;
}

.message-about{
  text-align: justify !important;
}

.how-work-it-text{
  font-size: 25px; 
  margin-left: 20px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}

.message-about{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 200px;
  text-align: justify;
  color: #60a8f1;
}

.icons-about{
  margin-right: 0px;
  color: #60a8f1;
}

.h-w-i-li{
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: rgb(126, 126, 126);
}

.cl-icons{

}

.just{
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
}

.logo-about{
  width: 200px;
  height: 200px;
  margin-top: -30px;
}

.time{
  font-size: 17px;
  font-family: 10px;
  color: #60a8f1;
  font-weight: 600;
}

.title-name{
  font-size: 20px;
  padding: 10px 0px !important;
  font-weight: bold;
}

.text-h{
  margin-left: 20px;
  color: #60a8f1;
}


.title-how-work{
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important; 
  margin-top: 20px;
  font-size: 22px;
  color: #000;
}

.text-how-work{
  font-size: 17px;
  font-family: 'Poppins', sans-serif !important; 
  margin-top: 20px;
  color: rgb(67, 67, 67);
}


@media (max-width: 900px) {
  .title-about-us{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif !important; 
    margin-bottom: -20px;
  }


  .message-about{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

    padding: 0px 0px;
    text-align: left !important;
  }
}

