.image-tool-rent{
  width: 200px;
}

.capitalize{
  text-transform: uppercase !important;
  font-family: 'Poppins', sans-serif !important;
}


.avatar-detail{
  height: 70px;
  width: 70px !important;
}

.avatar-detail img{
  border-radius: 100px !important;
  width: 70px !important;
  height: 70px;
  object-fit:cover;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
}

.new, .notaccpet, .acceptandwaitng, .acceptandpaid{
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
}

.new{
  color: rgb(135, 194, 241);
}

.notaccpet{
  color: red;  
}

.acceptandwaitng{
  color: rgb(251, 193, 0);
}

.acceptandpaid{
  color: rgb(27, 175, 106);
}

.color-rent{
  color: rgb(135, 194, 241);
}

.rents{
  border-bottom: 1px solid rgb(138, 138, 138) !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

@media (max-width: 900px) {
  .box-date-rules{
    width:60px !important;
    height: 60px !important;
    font-size: 15px !important;
  }

  .name-data-rules{

    font-size: 15px !important;
    height: 60px !important;
  }

  .padding-rents{
    padding: 0px !important;
  }

  .box-inter{
    margin: 0px !important;
  }

  .image-tool-rent{
    width: 100% !important;
  }
}
