.tool{
  cursor: pointer !important;
}

.picture-tool{
  widows: 100%;
  height: 220px;
  background: rgb(209, 209, 209);
  color:#fff;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 6px;
}

.category{
  background: #FFD237;
  padding: 0px 8px;
  color:#000;
  font-size: 12px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  text-transform: capitalize;
  z-index: 99;
  position: relative;
  top: -5px;
}

.div-t{
  margin-top: -5px;
}

.title-tool{
  margin-top: 6px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 1.0em;
}

.text-price{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.price{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px;
  color: #000;
}

.image-index{
  margin-top: 0px;
  margin-bottom: 1px;
  /*background: #fff url('../../../assets/images/background.png') no-repeat;*/
  background-position: center top;
  -webkit-font-smoothing: antialiased !important;
}

.rent-viewsearch{
  margin-top: 10px;
}

.background-tools{
  width: 80%;
  margin-top: -500px;
}

.explorer{
  padding-top: 100px;
  padding: 30px;
}

.explorer h3{
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 30px;
  color: #000;
  opacity: 1;
}

.logo-index{
  margin-bottom: -30px;
  width: 220px;
}

.title-index{
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 24px;
  color: #000;
  opacity: 1;
}

.itens-explorer{
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.tool{
  cursor: pointer !important;
  margin: 10px !important;
}

.text-subtitle-index{
  font-size: 25px;
  color:#000;
  margin-top: -25px;
}

.soon{
  z-index: 9;
  position: relative;
  background: #60a8f1;
  padding: 0px 4px;
  top: -300px;
  width: 100px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  color: #fff;
}

.neighboor-div{
  background: #60a8f1;
  padding-top: 50px;
  color: #fff;
  margin-top: 100px !important;
  padding-bottom: 30px;
}

.tl-neigh-cs{
  color: #fff !important;
  margin-bottom: 30px;
}

.text-neigh-cs{
  margin-left: 20px !important;
}

.title-index{
  font-size: 30px !important;
  font-family: 'OpenSans', sans-serif !important;
  font-weight: 600 !important;
}

.howwork{
  margin-bottom: 80px !important;
}

.box-options{
  text-align: center;
}

.box-options .column{
  background: rgb(248, 248, 248);
  height: 100px;
  padding: 0px !important;
  margin-bottom: 100px;
  margin: 10px;

  font-family: 'OpenSans', sans-serif !important;
  font-weight: 600 !important;
}


.bricolagem{
  background: #fff url('../../../assets/images/bricolagem.jpg') no-repeat !important;
  background-position: left top !important;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased !important;
}

.box-img{
  width: 100px;
  height: 100px !important;
  background: transparent;
}

.text-options{

  font-family: 'Poppins', sans-serif !important;
  color: #000;
}

.img-option {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
  object-fit:cover;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.logo-enterprise{
  background:#fff;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  -webkit-font-smoothing: antialiased !important;
  object-fit:cover;
}

.delivery-index{
  font-size: 13px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300 !important;
  margin-top: -5px !important;
  color: rgb(0, 0, 0) !important;
}

.km{
  margin-top: 13px !important;
  font-weight: 300 !important;
  font-family: 'Poppins', sans-serif !important; 
  color: rgb(0, 0, 0) !important;
}

.line-tools{
}

.box-delivery{
  background: rgb(255, 255, 255) !important;
}

.box-km{
  margin-top: 10px !important;
}

.icon-index{
  font-size: 30px;
}

.input-geolocalization{
  background: #fff;
  width: 50% !important;
  border: 1px solid #000 !important;
}

.css-yk16xz-control{
  border: 1px solid #000 !important;
}

.input-geolocalization:focus{
  border: 1px solid #000 !important;
}

.container-new{
  width: 70% !important;
}


.ul-howwork li{
  font-family: 'Poppins', sans-serif !important; 
  margin-top: 5px !important;
  text-align: left !important;
  color: rgb(156, 156, 156);
  font-size: 17px;
}

.title-ul-how{
  font-size: 23px !important;
  font-weight: 600;
  color: #60a8f1 !important;
  margin-bottom: 20px;
}

.promo{
  z-index: 9;
  text-align: center;
  position: relative;
  background: rgb(0, 132, 255);
  color: #fff;
  padding: 3px;
  top: -11px;
}

.ul-howwork li span{
  font-size: 10px !important;
}

.geolo-bt{
  position: 9;
  color: rgb(46, 46, 46) !important;
  background: rgb(255, 200, 0) !important;
  border: none !important;
}

.size-cs-geolo{
  font-size: 25px;
}

.title-search-geolo{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 15px;
}

.father-address{
  width: 100% !important;
}
  
.background-address{
  background: #fff !important;
  width: 68% !important;
  text-align: left !important;
  padding: 0px 10px;
  margin: 0px auto !important;
  z-index: 9;
  position: absolute;
  left: -50%;
  right: -50%;
}

.slider-comment{
  background: rgb(240, 240, 240);
  height: 220px;
}

.client{
  text-transform: uppercase;
  margin: 10px;
  font-weight: 600;
}

.message-client{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em !important;
  margin-bottom: 30px;
}

.title-slick{
  font-family: 'Poppins', sans-serif !important; 
  font-size: 30px;
  padding: 20px;
  color: #60a8f1;
}


.title-slick{
  font-family: 'Poppins', sans-serif !important; 
  font-size: 30px;
  padding: 20px;
  color: #60a8f1;
}

.field-cs{
  display: flex;
  justify-content: center !important;
}

.input-geolocalization{
  background: #fff;
  width: 100% !important;
}

.obs-delivery{
  font-size: 11px;
  color: #000;
}

.field-cs{
  display: flex;
  justify-content: center !important;
}


.input-geolocalization{
  background: #fff;
  width: 100% !important;}

.construction{
  background: #fff url('../../../assets/images/construction.jpg') no-repeat !important;
  background-position: right top !important;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased !important;
}

.gardening{
  background: #fff url('../../../assets/images/gardening.jpg') no-repeat !important;
  background-position: right top !important;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased !important;
}

.cleaner{
  background: #fff url('../../../assets/images/cleaner.jpg') no-repeat !important;
  background-position: left top !important;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased !important;
}


.box-categories{
  background: #fff;
  height: 250px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin: 10px;
  cursor: pointer;
}

.categories-names{
  margin: 0 auto;
  width: 60%;
  background: #FFD237;
  margin-top: 214px;
  text-align: center;
  color: #000;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important; 
}

.title-stand{
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important; 
  padding: 0px 20px;
}

.logo-color{
  color: #60a8f1;
  font-family: 'Poppins', sans-serif !important; 
}

.box-filters-mg{
  background: #f1f1f1;
  margin-top: -35px;
  padding: 0px 5px;
  z-index: 0;
  position: fixed;
  width: 100%;
}

.tool-list{
  background:#fff;
  height:183px;
  -webkit-font-smoothing: antialiased !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 0px !important;
}

.tool-list img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.title-tl{
  font-weight: 400;
  font-size: 16px;
  font-family: 'Poppins', sans-serif !important; 
}

.accessories{
  font-family: 'Open-sans', sans-serif !important; 
  font-size: 15px;
}

.box-text{
  padding-top: 5px !important;
}

.money-tl{
  color: #000000;
  font-family: 'Poppins', sans-serif !important; 
  font-weight: 600;
  font-size: 17px;
}

.freight-tl{
  color:#4A4A4A;
  font-family: 'Poppins', sans-serif !important; 
  font-weight: 600;
  font-size: 16px;
  margin-top: 2px;
}

.money-tl span, .freight-tl span{
  font-family: 'Poppins', sans-serif !important; 
  font-weight: 100;
  font-size: 12px; 
}

.bt-filter{
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
}

.take-a-back{
  margin-top: 5px;
  margin-bottom: -15px;
  font-style: unset;
  color: #60a8f1;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px;
}

.tab-info span{
  font-family: 'Poppins', sans-serif !important;
}

.icon-tl{
  font-size: 16px;
  margin-right: 10px;
}

.text-list{
  padding-left: 20px;
}

.t-list{
  -webkit-font-smoothing: antialiased !important;
  object-fit:cover;
}

.logo-tl{
  width: 28px;
  height: 28px;
  margin-left: 0px;
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 2px 1px 0px rgb(207, 207, 207);
  -moz-box-shadow: 0px 2px 1px 0px rgb(207, 207, 207);
  box-shadow: 0px 2px 1px 0px rgb(207, 207, 207);
}

.name-logo-tl{
  z-index: 0;
  position: relative;
  top: -8px;
  margin-left: 10px;
  font-size: 15px;
  text-transform: capitalize;
}

.address-list{
  width: 100% !important;
}

.bkad-tl{
  width: 100% !important;
}

.cptalizze{
  text-transform: capitalize;
}

.div-filters{
  padding-top: 0px;
}

.div-filters{
  margin-left: 1px;
}

.youare{
  background: #fff;
}

.button.is-info:hover{
  color: #fff !important;
}

.showneighboor{
  font-family: 'Poppins', sans-serif !important;
  color: #60a8f1;
  text-align: center;
}

.region-choose{
  font-weight: 600 !important;
  text-transform: capitalize;
}

.box-km{
  width: 300px;
  background: #fff;
  z-index: 999;
  left: 10px;
  top: 32px;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(184,184,184,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(184,184,184,1);
  box-shadow: 1px 1px 2px 0px rgba(184,184,184,1);
  padding: 8px;
}

.title-box-options{
  font-size: 17px !important;
  font-family: 'Poppins', sans-serif !important;
}

.km-text{
  font-family: 'Poppins', sans-serif !important;
  margin-right: 10px;
}

.box-ads-lt{
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.tl-km{
  margin-right: 10px;
}

.tl-hour{
  margin-left: 10px !important;
}

.borderline{
border: 1px solid rgb(230, 230, 230);
}

.box-values{
  padding-top: 40px;
}

.container-fluid-cs{
  margin: 0px 30px;
}

.text-infos-tl{
  margin-top: 20px;
}

.title-tl-page{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.box-values-prod{
  background: rgb(0, 0, 0);
  padding: 2px 5px;
  margin-left: 15px;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.box-vl-prod{
  background: red;
  position: absolute;
  width: 200px;
  height: 80px;
}

.box-ads-lt{
  background: #fff;
  margin: 1px !important;
  padding: 10px;
  box-shadow: 0 0 3px 0 #cacaca !important;
}

.box-rent{
  margin-left: 110px;
  margin-top: -5px;
}

.box-values-prod{
  z-index: 0 !important;
  position: relative !important;
}

.rentper{
  font-size: 13px !important;
  margin-top: 14px;
}

.findyou{
  font-size: 15px;
  color: rgb(110, 110, 110) !important;
  margin-top: 24px;
  text-align: left;
  margin-bottom: 30px;
}

.findyou span{
  font-weight: bold;
  text-transform: capitalize;
}


.box-filters{
  background: #f1f1f1;
  margin-top: -20px !important;
  padding-top: 6px !important;
  padding: 0px 5px;
  padding-bottom: 5px;
  z-index: 99;
  position: fixed;
  width: 100%;
}

.approximately{
  margin-top: 10px;
  margin-bottom: -17px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 12px;
  font-weight: bold !important;
  color: #60a8f1;
}

.prodused{
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.prodused img{
  width: 100% !important;
  object-fit:cover;
  height: 200px !important;
  border-radius: 10px;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(166,166,166,1);
  -moz-box-shadow: -1px 0px 3px 0px rgba(166,166,166,1);
  box-shadow: -1px 0px 3px 0px rgba(166,166,166,1);
}

.prodused p{
  color: #000 !important;
  font-family: 'Poppins', sans-serif !important;
}

.minutesrent{
  font-size: 45px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  color: #000;
}

.without{
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  font-size: 17px;
}

.explanation_box{
  background:#FFD237;
  padding: 25px 0px;
  width: 97%;
  margin-top: 0px;
  text-align: center !important;
}

@media (max-width: 900px) {
  .explanation_box{
    background: transparent;
    padding: 25px 0px;
    width: 97%;
    margin-top: 0px;
    text-align: center !important;
  }
  
  .minutesrent{
    font-size: 30px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    color: #000;
  }

  .container-fluid-cs{
    margin: 0px !important;
    padding: 0px 10px;
  }
  
  .title-tl-page{
    margin-top: -20px;
  }

  .title-search-geolo{
    margin-top: -30px !important;
  }

  .box-values{
    padding-top: 0px !important;
  }

  .money-tl{
    margin-top: 30px;
  }

  .tool-list{
    height: 220px;
  }

  .tool-list img{
    height: 220px;
  }

  .box-text{
    padding: 10px 0px !important;
  }

  .box-ads-lt{
    background: #fff;
    margin: 1px !important;
    padding: 0px;
    padding-bottom: 95px !important;
    border: 1px solid rgb(209, 209, 209);
  }
  
  .line-tools{
    padding: 0px !important;
  }

  .box-digi{
    display: none !important;
  }

  .youareregion{
    margin-top: 1px !important;
  }

  .box-km{
    width: 100% !important;
    left: 0 !important;
    top: 50px;
  }

  .select-eqs{
    margin: 0px 20px;
  }

  .box-categories{
    margin-bottom: 25px;
  }

  .slick-arrow{
    display: none !important;
  }

  .container-new{
    width: 100% !important;
  }
  
  .title-search-geolo{
    margin-top: -60px;
  }

  .background-address{
    background: #fff !important;
    width: 100% !important;
    text-align: left !important;
    padding: 0px 10px;
    margin: 0px auto !important;
    z-index: 9;
    position: absolute;
    left: -50%;
    right: -50%;
  }

  .input-geolocalization{
    background: #fff;
    width: 100% !important;
    height: 50px !important;
  }

  .tool{
    margin: 10px 10px !important;
  }
  
  .column-cs-mobile{
    width: 50% !important;
    padding: 0.50em !important;
  }

  .image-index{
    margin-top: 0px;
    margin-bottom: 1px !important;
    /*background: #fff url('../../../assets/images/background.png') no-repeat;*/
    background-position: center top;
    -webkit-font-smoothing: antialiased !important;
  }
  .background-tools{
    width: 100%;
    margin-top: -150px !important;
  }

  .title-index{
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 20px !important;
  }


  .text-subtitle-index{
    font-size: 20px !important;
    color: rgb(58, 58, 58);
  }

  .title-notfound{
    font-size: 20px !important;
  }

  .youareregion{
    margin-top: 3px;
  }

   .lt-box{
      padding-top: 40px;
      background: #fff;
   }

   
   .t-list{
      width: 100%;
      height: 100%;
   }

   .box-filters{
      z-index: 9;
      position: fixed;
      margin-top: -35px !important;
      width: 100%;
      padding-bottom: 10px;
      background: #f1f1f1;
    }  
}
