.address-user{
  background: rgb(248, 246, 246) !important;
  border-top: 5px solid #60A8F1;
  padding: 10px;
}

.margin-title-price{
  margin-bottom: 0px !important;
}

.money{
  font-size: 20px !important;
  color: #60A8F1;
  font-weight: 500;
}

.padding-checkbox{
  margin: 10px !important;
}

.check{
  margin: 5px;
}

.warning-red{
  color: red !important;
  font-weight: bold !important;
}

.easyadonsselect{
  width: 55px !important;
  height: 55px !important;
  margin-left: 15px;
  border: 2px solid #60A8F1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.box-img-select{
  width: 80px !important;
  margin-left: -10px;
}

.text-select-adons{
  margin-top: 15px;
}

.line-select-adons{
  cursor: pointer;
}