.container-sign-up{
  width: 100vw !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
}

.sign-up{
  margin: 20px !important;
  padding: 4px;
  padding-bottom: 30px !important;
  width: 330px !important;
  border: 1px solid rgb(207, 207, 207) !important;
}

.title-singup{
  margin: 20px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.logo-sing-up{
  margin-top: 10px;
  width: 70px;
}