@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.container-bottom{
  padding: 20px;
}

*:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  border: 1px solid #d8d8d8 !important;
}

.input, .button .select{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(90, 90, 90);
}

.css-yk16xz-control{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

.hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, rgb(236, 236, 236), rgb(197, 197, 197), rgb(236, 236, 236));
}

.validation-warning{
  color:#ff8e38;
  text-align: left !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.border-warning, .border-warning:focus, .border-warning:hover{
  border: 1px solid #ff8e38 !important;
}

.button:active, .button:hover{
  color:#000 !important;
  border:none !important;
}


::placeholder {
  color: rgb(131, 131, 131) !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.0em;
}

.color-logo{
  background: #FFD237;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.color-logo:hover{
  background: #ffc300 !important;
}

.color-logo-lessor{
  background: #60a8f1;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.color-logo-lessor:active, .color-logo-lessor:focus{
  color: #fff !important;
}

.color-logo-lessor:hover{
  color:#fff !important;
}

.styles_modalCenter__L9F2w{
  width: 50% !important;
  background: #fff;
}

.modal-content{
  background: #fff;
  padding: 20px;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.75);
}

.title-modal{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.9em;
}

.text-modal{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.warning-text-no-aling{
  color: #000000;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.8em;
}

.warning-text{
  color: #000000;
  text-align: left;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.8em;
}

.border-warning .css-yk16xz-control{
  border: none !important;
}

.marketing{
  text-align: left !important;
}

.columns{
  margin-top: 0.0em !important;
}

.logo-sing-up{
  margin-top: 10px;
  width: 70px;
}

.background-intern{
  background: #f4f4f4;
  padding-top: 30px !important;
  margin-top: -20px;
}

.container-page{
  padding-top:0px !important;
  padding-bottom: 100px !important;
}

.box-inter{
  margin: 20px; 
  background: #fff;
}

.title-pages{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 10px;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.sub-title-pages{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #60A8F1;
}

.baby-cry{
  width: 110px;
}

.dropdown-content{
  border-radius: 0px !important;
}

.menus{
  -webkit-box-shadow: -1px 2px 3px 0px rgba(168,168,168,1);
  -moz-box-shadow: -1px 2px 3px 0px rgba(168,168,168,1);
  box-shadow: -1px 2px 3px 0px rgba(168,168,168,1);
  background: #fff;
  width: 200px !important;
}

.menus .dropdown-item{
  padding: 10px 10px !important;
}
.menus .dropdown-item li:not(:first-child) {
  border-top: 1px solid rgb(233, 233, 233);
}

.menus .dropdown-item li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  padding: 6px 0px;
  font-size: 1.0em !important;
}

.menus .dropdown-item li a{
  color: rgb(134, 134, 134) !important;
}

.nopadding{
  padding: 0 !important;
}

.menu-from-lessor, .menu-from-renter{
  margin-top: 12px !important;
}

.user-dropdown{
  color: rgb(80, 79, 79) !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  margin-left: 10px;
}

.styles_closeIcon__1QwbI{
  cursor: pointer;
}


.title-tips{
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px; 
}

.text-tips{
  font-family: 'Open Sans', sans-serif;
  color: rgb(144, 144, 144);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 14px; 
}

.textarea-multiline{
  height: 160px !important;
}

.card-content{
  padding: 0.8rem !important;
}

.card .media:not(:last-child){
  margin:0px !important;
}

.card{
  border-bottom: 1px solid rgb(218, 218, 218);
  box-shadow: none !important;
}

.hack-padding-top{
  margin-top: -10px;
}

.css-b8ldur-Input input{
  border: none !important;
}

.back-form{
  margin-right: 20px !important;
}

.no-margin-top{
  margin-top: -60px;
}


.classMenu span{
  margin-top: 24px;
}

.classNotrent{
  margin-top: 0px;
}

.dropdown-content{
  margin-top: 0px;
}

.notification{
  background: #fff;
  width: 360px;
  margin-top: 13px;
}

.count{
  z-index: 999999 !important;
  position: absolute !important;
  right: 0;
  top: 2px;
  background: red;
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 18px !important;
  height: 18px !important;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif !important;
  padding-top: 0px !important;
}

.is-text{
  color: rgb(0, 47, 255) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.upload{
  cursor: pointer !important;
}

.warning-unavailable{
  z-index: 9999 !important;
  width: 100% !important;
  position: fixed;
  background:#FFD237;
  color: #000;
  padding: 5px;
  padding-top: -40px !important;
  margin-top: -32px;
}

.close-unavailable{

}

.close-unavailable::before{
  content:'❌' !important;
}

.title-tool-only-little{
  font-size: 20px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.list-info-payment{
  list-style: disc;
  font-size: 15px;
  font-family: 'Poppins', sans-serif !important;

  color: #000;
  margin-bottom: 10px;
}

.valuefreight{
  font-size: 16px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  color: #60A8F1;
}

.container-notfound{
  margin-top: 100px;
  margin-bottom: 100px;
}

.svgnotfound{
  width: 300px;
}

.svgnotfound2{
  width: 250px;
}

.title-notfound{
  font-size: 37px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.text-notfound{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.no-margin-top-columns{
  margin-top: -20px !important;
}

.no-margin-top-columns2{
  margin-top: -10px !important;
}

.loading{
  font-size: 30px !important;
  text-align: center !important;
}

.explanation-rules{
  color: #60a8f1;
  font-size: 19px;
  font-weight: 700;
  margin: 20px 0px;
}

.text-congrats{
  font-size: 20px;
  color: #4e4e4e;
  font-weight: 600;
}

.congrats{
  color: #60a8f1 !important;
}

.notice-congrats li{
  font-size: 19px !important;
  font-family: 'Open Sans', sans-serif;
}

.thumbup{
  color: #60a8f1;
  margin-right: 20px;
}

.thumbdown{
  color: red;
  margin-right: 20px;
}

.box-itens-helping ul li{
  font-size: 16px;
  margin: 15px 0px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
  color: rgb(138, 138, 138);
}

.feedback{
  background: rgb(255, 223, 116);
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.feedback-button{
  z-index: 999;
  position: fixed;
  bottom: 10px !important;
  right: 10px;
}

.bottom-box{
 position: fixed;
 background: rgb(255, 255, 255);
 border-top: 1px solid rgb(189, 189, 189);
 bottom: 0px;
 width: 100%;
 height: 62px;
 z-index: 999;
 padding: 5px;
}

.titlerentbox{
  font-weight: 600;
  font-size: 15px;
}

.bottom-no-box{
  display: none !important;
}

.rentandnow{
  font-size: 25px;
  font-family: 'Poppins', sans-serif !important;
  color: #60a8f1;  
  margin-bottom: 30px;
}

.aftercontineos{
  font-size: 21px !important;
  color: #60a8f1;  
}

.terms-complete{
  font-family: 'Poppins', sans-serif !important; 
}

.ol-privacy{
  font-weight: 500;
  color: #60a8f1;
  padding-left: 30px;
}

.topics-terms{
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important; 
  padding-bottom: 30px;
}

.ul-pr-dec{
  list-style: disc !important;
}

.logo-whats{
  width: 40px !important;
  z-index:999;
  position: fixed;
  right: 10px;
  bottom: 65px;
}

.imagedoc{
  width: 50px;
  height: 50px;
  object-fit:cover;
  border-radius: 100px !important;
}


.button-congrats{
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.padding-pages-intern{
  margin-top: 60px;
}

.padding{
  padding: 0px 30px;
}

.icon-payment{
  width: 30px;
  margin-right: 10px;
  z-index: 0;
  position: relative;
  top: 3px;
}

.box-payment-form{
  background: #60a8f1;
}

.text-payment-not{
  text-align: center !important;
  color:#fff;
}

.is-danger{
  background: rgb(253, 82, 82) !important;
}

.box-option-payment{
  padding: 10px;
}

.line-option-payment{
  border-bottom: 1px solid rgb(206, 206, 206);
  height: 45px;
  cursor: pointer;
}

.line-option-payment-no{
  margin-right: 20px;
}

.line-option-payment span{
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px;
}

.line-option-payment p{
  font-size: 11px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  color: #808080;
}

.icon-payment-check{
  font-size: 22px;
  color: rgb(31, 253, 87);
  margin-top: 5px;
}

.coin{
  margin-top: 20px;
  height: 30px;
  background: #fff;
}

.money-line{
  height: 120px;
}

.warning{
  color: red;
}

@media (max-width: 900px) {
  .born{
    display: none!important;
  }

  .button-congrats{
    z-index: 999;
    position: fixed;
    bottom: 80px;
    right: 10px;
  }
  
  .container-mobile-paymentme{
    padding: 0px !important;
  }

  .no-padding-paymentme{
    padding: 0px !important;
  }

  .feedback-button{
    z-index: 999;
    position: fixed;
    bottom: 80px !important;
    right: 10px;
  }

  .logo-whats{
    width: 40px !important;
    z-index:999;
    position: fixed;
    right: 10px;
    bottom: 120px;
  }
  
  .warning-unavailable{
    z-index: 9999 !important;
    width: 100% !important;
    background:#FFD237;
    color: #000;
    padding: 5px;
    padding-top: -10px !important;
    margin-top: -40px;
    padding-bottom: 0px;
  }

  .explorer2{
    padding: 40px !important;
  }

  .explorer{

  }

  .columns {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }

  .no-margin-top-columns{
    margin-top: -20px !important;
  }
  
  .no-margin-top-columns2{
    margin-top: -10px !important;
  }  

  .styles_modalCenter__L9F2w{
    width: 100% !important;
    background: #fff;
  }

  .title-tool-only{
    font-size: 1.1em;
  }

  .title-infos-tool{
    font-size: 1.4em;
  }

  .bottom-box{
    position: fixed;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    margin-bottom: 5px;
    bottom: 50px;
    width: 100%;
    height: 50px;
    z-index: 999;
   }

   .price-bottom{
      margin-top: -15px !important;
    }

    .bt-bottom{
      margin-top: -23px !important;
      margin-left: 30px;
    }

    .is-hidden-bottom{
      display: none !important;
    }
}

.bt-bottom{
  margin-top: -15px;
  margin-left: 30px;
}

.price-bottom{
  margin-top: -7px;
}

.is-black:hover{
  color:#fff !important;
}


@media screen and (max-width: 1023px){
  .navbar-menu {
    background-color: white;
    box-shadow: none !important;
    padding: 0.5rem 0;
  }

  .dates-payment{
    margin-top: -15px !important;
    margin-bottom: -10px !important;
  }
}
