.perfil{
  background: red;
}

.column-address{
  margin-bottom:-20px !important;
}

.title-box-inter{
  font-family: 'Open Sans', sans-serif;
  color: #60A8F1;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

.box-inter-padding{
  padding: 30px !important;
}

.space-bt{
  margin-top: 7px;
}

.avatar-perfil{
  height: 120px;

}

.avatar-perfil img{
  border-radius: 100px !important;
  width: 120px !important;
  height: 120px;
  object-fit:cover;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
}